@page
@model IndexModel

@{
    ViewData["Title"] = "Home";
}



<body style="background-color:lightpink">

    <div class="text-center">
        <h1 class="display-4">Welcome to Center Stage!</h1>

    </div>
    @*<div>
        <img src="Photos\photo.jpg"  />
    </div>*@
</body>

