
@page
@model IndexModel

@{
    ViewData["Title"] = "Home";
}



<body>

    <div class="text-center" >
        <body style="background-color:lightpink">

            <div class="box-shadow">  <h1 class="display-4">Welcome to Center Stage!</h1></div>
            <img src="~/images/photo1.jpg" alt="En Pointe" width="700" height="700" />

        </body>
    
    </div>
    


</body>



